<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        
        <script type="text/javascript" src="/javascripts/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>

        <script>
            $(document).ready(function() {
                $('#<%= currentPage %>').addClass('active');
            })
        </script>
        
        
        <title> MyWeb </title>

        <!-- mobile device support
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        -->
        
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
    </head>

    <style type="text/css">

      body {
          margin-top: 50px;
      }

      .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 60px;
        background-color: #f5f5f5;
      }

    </style>

    <body data-spy="scroll" data-target=".bs-docs-sidebar">
        
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="navbar-inner">

            <div class="container">
              <div class="nav-collapse collapse">
                  
                <ul class="nav nav-pills pull-left">
                    <li id="index">
                        <a href="/"><i class="icon-home icon-heart"></i>首页</a>
                    </li>
                    <li id="help">
                        <a href="/help"><i class="icon-heart"></i>帮助</a>
                    </li>
                    <li id="reg">
                        <a href="/reg"><i class="icon-fire"></i>注册</a>
                    </li>
                    <li id="login">
                        <a href="/login"><i class="icon-plane"></i>登录</a>
                    </li>
                    <li id="logout">
                        <a href="/logout"><i class="icon-off"></i>登出</a>
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div id="container" class="container">

        

  
